<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>URLs</title>

        <meta name="author" content="chick_0">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
        <meta name="keywords" content="url">
        <meta name="description" content="url shorter">

        <style>body{text-align:left;margin-left:5%;margin-right:5%;}@media(min-width:700px){body{margin-left:20%;margin-right:20%;}}a{color:#66B032}a:hover{color:#FE2712}</style>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>